$primary-color: #27ae60; 
$alert-color: #c60f13;
$success-color: #2ecc71;
$secondary-color: #5a1321;
$foreground-color: #191919;
$background-color: #e9e9e9;

.top-background {
  background-color: $primary-color;
  .top-title {
    color: white;
    text-shadow: 1px 1px darken($primary-color, 10%);
  }

  .btn {
    color: white;
  }

  .label-danger {
    margin-top: 10px;
    display: block;
    width: 100%;
  }
}

.topic-a {
	margin-right: 10px;
}

#signin-button {
	margin-bottom: 10px;
}

.full-length {
	width: 100%;
}

.cursor-pointer {
  cursor: pointer
}

.slide.ng-enter {
  transition: 1s ease-in all;
  transform: rotateY(180deg);
}
.slide.ng-enter.ng-enter-active {
  transform: rotateY(0);
}

.navbar {
  border-radius: 0;
  background-color: $primary-color;
}