$primary-color: #3498db; 
$alert-color: #c60f13;
$success-color: #2ecc71;
$secondary-color: #5a1321;
$foreground-color: #191919;
$background-color: #e9e9e9;

$text-color-light: #696969;
$text-color-dark: #111;


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

body {
  background-color: $background-color;
  font-family: sans-serif;
  margin: 0;
}

.btn {
  border: none;
  @include border-radius(3px);
  padding: 15px;
}

nav-bar {
  display: block;
  background-color: white;
  height: 65px;
  padding: 0px 30px;

  .nav-component-left {
    display: inline-block;
    margin: 0px 0px 0px 40px;
    height: 100%;

    .logo {
      background-color: lighten(black, 20%);
      padding: 8px 30px;
      margin-left: 10px;
    }
  }

  .nav-component-right {
    display: inline-block;
    position: absolute;
    right: 10%;

    .search {
      background-color: $background-color;
      padding: 0px 10px;

      input {
        border: none;
        background-color: $background-color;
        padding: 10px 5px;
      }

      input:focus {
        outline: none;
      }
    }
  }

  li {
    color: $text-color-light;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 10px 20px;
    vertical-align: middle;
  }

  li:hover {
    color: $text-color-dark;
  }
}

@import 'signup';