.top-background {
	height: 360px;
	display: block;
	background-color: $primary-color;

	.title {
		display: inline-block;
		padding: 100px 200px;
		
		text-shadow: 1px 1px $text-color-light;

		h1 {
			color: white;
			font-size: 3em;
		}
		h3 {
			color: white;
		}
	}

	.sign-form {
		display: inline-block;
		position: relative;
		width: 100px;

		input {
			border: none;
			@include border-radius(3px);
			padding: 10px;
			margin-bottom: 10px;
		}

		button {
			widows: 100%;
			background-color: white;
			padding: 20px 50px;
		}
	}
}
