
<ul class="nav-component-left">
  <li class="logo">
    <img src="assets/images/scotch-logo-small.png" alt="logo">
  </li>
  <li ng-click="vm.changeUrl()">
    HOME
  </li>
  <li ng-if="!Auth.isLogged()" ng-click="vm.changeUrl('signup')">
    TOPICS
  </li>
  <li ng-if="!Auth.isLogged()" ng-click="vm.changeUrl('login')">
    EXPLORE
  </li>
  <li ng-if="Auth.isLogged()" ng-click="Auth.logout()">
    MESSAGES
  </li>
</ul>

<ul class="nav-component-right">
  <li>
    SIGNUP / LOGIN
  </li>
  <li class="search">
    <input type="search" autocomplete="off">
    <span class="fa fa-search"></span>
  </li>
</ul>