<nav class="navbar navbar-inverse navbar-embossed">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        <li ng-click="vm.changeUrl('home')" class="cursor-pointer">
          <a>HOME</a>
        </li>
        <li ng-click="vm.changeUrl('topics')" class="cursor-pointer">
          <a>TOPICS</a>
        </li>
        <li ng-click="vm.changeUrl('explore')" class="cursor-pointer">
          <a>EXPLORE</a>
        </li>
        <li ng-click="Auth.logout()" class="cursor-pointer">
          <a>MESSAGES</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <nav-bar-search></nav-bar-search>
        <li><a>LOGOUT</a></li>
      </ul>
    </div>
  </div>
</nav>